<!--(Lista Receitas)-->
<section class="receitas">
  <div class="conteudo">
    <h2>Receitas Brasileiras</h2>
    <ul class="lista">
      <% receitas.forEach(receita => { %>
      <li>
        <span>-</span>
        <span><a href="/receita"><%= receita.nome %></a></span>
        <span><input type="button" name="" id="" value="<3" /></span>
      </li>
      <% })%>
    </ul>
  </div>
</section>
