
  <!--(Receita)-->
  <section class="receitas">
    <div class="conteudo">
        <h1>----</h1>
        <h1>---</h1>
    
        <h1>---------</h1>
        
        <h4>INGREDIENTES</h4>
        <ul>
            <li>1 kg de feijão-preto</li>
            <li>500 g de paio (4 unidades)</li>
            <li>3 cebolas</li>
            <li>5 dentes de alho</li>
            <li>¼ de xícara (chá) de azeite</li>
            <li>3 folhas de louro</li>
            <li>1 colher (chá) de cominho em pó</li>
        </ul>
        <h4>MODO DE PREPARO</h4>
        <p>1) Coloque o feijão numa peneira e lave bem sob água corrente. Transfira os grãos para uma tigela grande e cubra com 2,5 litros de água – se algum boiar, descarte. Cubra com um prato e deixe de molho por 30 minutos – se o feijão ficar muito tempo de molho pode perder a cor e desmanchar durante o longo cozimento da feijoada. Enquanto isso, faça o pré-cozimento das carnes.</p>
        <p>2) Escorra a água das carnes dessalgadas e transfira para um caldeirão grande (ou panela) com capacidade para 11 litros. Cubra as carnes com água e leve ao fogo alto – cerca de 4 litros bastam, a quantidade pode variar de acordo com o tamanho da panela, o importante é que as carnes devem ficar completamente imersas. Deixe cozinhar por 10 minutos em fogo alto, contados após a fervura – o pré-cozimento elimina o excesso de gordura e sal das carnes.  </p>
        <p>3) Enquanto isso, descasque e pique fino as cebolas e os dentes de alho. Com uma faca pequena, retire a pele dos paios. Escorra a água do feijão.</p>
        <p>4) Passados os 10 minutos, com uma escumadeira, transfira as carnes pré-cozidas para uma tigela grande e descarte a água do cozimento, com cuidado para não se queimar.</p>
        <p>5) Volte o caldeirão ao fogo alto. Quando aquecer, regue com o azeite, adicione a cebola e tempere com uma pitada de sal. Refogue por cerca de 8 minutos até começar a dourar. Junte o alho, o cominho, as folhas de louro e mexa por 1 minuto para perfumar.</p>
        <p>6) Acrescente o feijão demolhado ao refogado e misture bem. Adicione 6 litros de água e mantenha a panela em fogo alto. Assim que começar a ferver, junte a carne-seca e a costelinha pré-cozidas, abaixe o fogo e deixe cozinhar por 2 horas, mexendo de vez em quando.</p>
        <p>7) Após as primeiras 2 horas de cozimento, junte o lombo pré-cozido e os paios inteiros. Deixe cozinhar em fogo baixo por mais 3 horas, mexendo de vez em quando delicadamente para não desmanchar os grãos de feijão. </p>
        <p>8) Faltando 30 minutos para o fim do cozimento, com uma pinça, transfira os paios para a tábua e corte cada um em fatias de 1 cm, na diagonal. Volte as fatias para a panela e deixe cozinhar até completar as 5 horas de cozimento total, ou até que as carnes estejam bem macias e o caldo da feijoada comece a engrossar. Sirva com arroz, couve refogada, gomos de laranja e farinha de mandioca torrada.</p>
    </div>
  </section>
 
